<% content_for :title do %>RCS Power Monitoring Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Chinook" data-view="Rickshawgraph" data-color-scheme="default" data-default-alpha="0.7" data-stroke="true" data-stroke-colors="#808080" data-title="Chinook" style="background-color:#007000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Pacman" data-view="Rickshawgraph" data-color-scheme="default" data-default-alpha="0.7" data-stroke="true" data-stroke-colors="#808080" data-title="UserServers" style="background-color:#007000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Storage" data-view="Rickshawgraph" data-color-scheme="default" data-default-alpha="0.7" data-stroke="true" data-stroke-colors="#808080" data-title="Storage" style="background-color:#007000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Infrastructure" data-view="Rickshawgraph" data-color-scheme="default" data-default-alpha="0.7" data-stroke="true" data-stroke-colors="#808080" data-title="Infrastructure" style="background-color:#007000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Infrastructure" data-view="Rickshawgraph" data-color-scheme="default" data-default-alpha="0.7" data-stroke="true" data-stroke-colors="#808080" data-title="athenacpu" style="background-color:#007000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Infrastructure" data-view="Rickshawgraph" data-color-scheme="default" data-default-alpha="0.7" data-stroke="true" data-stroke-colors="#808080" data-title="athenastor" style="background-color:#007000"></div>
    </li>
  </ul>
  <center><div style="font-size: 20px">Power usage in watts.</div></center>
</div>
